.main-footer {
    background-color: #624f41;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .copyright {
        text-align: center;
        //max-width: 550px;
        margin: 20px auto;
        font-size: 12px;
        @media screen and (max-width:@screen-xs) {
            margin:10px auto;
        }
    }
    a {
        color:#fff !important;
        text-decoration: underline !important;
    }
    .footer-icon-container {
        margin-bottom: 10px;
    }
    .footer-mobile-links {
        .icon {
            font-size: 24px;
        }
    }
}