.category-listing {
    article {
        margin-bottom: 40px;
        > a {
            display:flex;
            flex-flow: column;
            min-height: 400px;
            justify-content: flex-start;
        }
    }
}