.menu-bg {
    background-color: #ece3d3;
    border-radius: 10px;
    padding: 20px 40px;
    h4 {
        color:@chocolate;
    }
    &.menu-item {
        margin-bottom: 20px;
    }
    .menu-row {
        display: flex;
        justify-content: space-between;
    }
}