.page-main {
    .page-main-inner {
        padding:40px 0;
    }
    .page-slideshow {
        #lightSlider {
            li {
                margin: 0 auto;
                > img {
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
        @media screen and (max-width:1280px) {
            #lightSlider {
                li{
                    height: 450px;
                    > img {
                        max-height: -webkit-fill-available;
                        max-height: -moz-available;
                        max-height: 100%;
                    }
                }
                
            }
        }
    }
}